<!DOCTYPE html>
<html lang="en">
<head>
	{%- include exercise_head.html -%}
</head>
<body>
	<main class="container">
		<section class="about">
			
			<a class="back-button" href="/">
				<h4>Home</h4>
			</a>
            <p class="tagline"></p>
            <p class="tagline">C</p>
            <p class="tagline">Programing</p>
		</section>
		<section class="content">
			{{ content }}
		</section>
	</main>
	{%- if site.plainwhite.analytics_id -%}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
	{%- endif -%}
</body>
</html>
